body {
  background-color: rgb(255, 255, 255);
  margin: 0 ;
}

header, main, footer {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  justify-content: space-between;

  &.flex {
    display: flex;
  }
}

.header_rightside_up {
  display: flex;
    margin-left: 60px;
    margin-top: 32px;
    margin-bottom: 37px;

}
.header_lefside {
  display: flex;
  flex-direction: column;
}

.LinkNav1, .LinkNav2, .LinkNav3, .LinkNav4 {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}

.LinkNav2, .LinkNav3 {
  margin-right: 40px;
}

.navvector {
  transform: translateX(7px) translateY(-2px);
  margin-right: 40px;
}

.logo {
  width: 244px;
  margin-top: 33px;
  margin-bottom: 60px;
}

.telnumber {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-left: 10px;
  margin-right: 62px;
}

.inputheader {
  width: 345px;
  height: 54px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.vectorheaderrightside {
  position: absolute;
  top: 16px;
  left: 299px;
}

.header_rightside_down {
  position: relative;
}


.inputheader::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  transform: translateX(20px);
}

.vectorheaderleftside {
  margin-right: 26px;
}

main {
  width: 1300px;
  margin: 0 auto;
}

.likefooter {
  max-width: 1920px;
  background: #3ECF5E;
}

.donate {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  margin-top: 71px;
  margin-bottom: 52px
}

.checkboxandtexts {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.pcheckbox {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 70px;
  margin-left: 10px;
}

.checkboxfooter {
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 3px;
}

.inputfooter {
  width: 234px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: #3ECF5E;

  &::placeholder {
    position: absolute;
    top: 15px;
    left: 15px;
    font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7EFF9A;
  }
}

.buttonfooter {
  width: 222px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

nav {
  display: flex;
}

.firstLinks {
  position: relative;
}

.subLinks {
  display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 254px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px 5px rgb(0 0 0 / 10%);
    border-radius: 15px;
    gap: 30px;
}

.link1, .link2, .link3, .link4, .link5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  text-decoration: none;
  margin-left: 25px;
}

.link1 {
  margin-top: 20px;
}

.link5 {
  margin-bottom: 30px;
}

.inputandbutton {
  display: flex;
  margin-bottom: 89px;
  gap: 20px;
}

.container2 {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;

  &.flex {
    display: flex;
  }
}

.footerimg {
  width: 307px;
  position: absolute;
  height: 439px;
  left: 857px;
  bottom: 0px;
}

footer {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #333333;
  display: flex;
}

.pfooter {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 50px;
}

.pfooter2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.container3 {
  display: flex;
  margin: 0 auto;
  max-width: 1320px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 130px;
}

.footersvg1 {
  margin-right: 20px;
  margin-left: 432px;
}

.footersvg2 {
  margin-right: 468px;
}

.footersvg3 {
  margin-right: 10px;
}

.footerphone {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 152px;
}

.card-wrapper-cards {
  display: flex;
  gap: 20px;
}

.product-button-more {
  width: 161px;
  background: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 68px;
}

.product-button-basket {
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  width: 45px;
  height: 45px;

}

.product-buttons {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pmore {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 12px;
  cursor: pointer;
}

.card-wrapper-text {
  display: flex;
}

.wrapper-text1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  margin-right: 30px;
}

.wrapper-text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #219653;
  margin-right: 7px;
}

.product-card {
  width: 315px;
  left: 1305px;
  top: 852px;
  background: #F9F9F9;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.product-image {
  padding: 20px 20px 25px 20px;
}

.loginback {
  cursor: pointer;
}

.card1image {
  height: 227px;
  width: 275px;
  border-radius: 5px;
  background: white;
}

.pcard1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin: 0px 20px 7px 20px;
}

.pdescription1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 0px 107px 25px 20px;
  color: #828282;
}

.pprice1 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
  margin: 0px 197px 25px 20px;
}

.weight-selection-btn {
  width: 68px;
  height: 29px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  line-height: 21px;
  background: #F9F9F9;

  &.selected {
    border: 1px solid #3ECF5E;
    background: white;
  }
}

.product-weightbuttons {
  margin-left: 20px;
}

.login-container {
  width: 650px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 30px 50px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 0 auto;
}

.plogin {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-left: 42px;
  margin-right: 374px;
}

.login-inputs {
  margin-left: 42px;
}

.login-input1 {
  width: 566px;
  height: 50px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-input2 {
  width: 566px;
  height: 50px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.login-header {
  margin-top: 20px;
  display: flex;
}

.login-input1::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  position: absolute;
  top: 15px;
  left: 20px;
}

.login-input2::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  position: absolute;
  top: 15px;
  left: 20px;
}

.login-btn2 {
  width: 244px;
  height: 49px;
  background: #3FCF5E;
  border-radius: 10px;
  border: 1px solid #3FCF5E;
}

.login-btn1 {
  width: 244px;
  height: 49px;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  margin-right: 84px;
}

.plogin-button1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #333333;
}

.plogin-button2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.login-buttons {
  margin-left: 42px;
  margin-top: 45px;
  margin-bottom: 50px;
}

.container4 {
  margin-top: 145px;
  margin-bottom: 248px;
}

.click-on-login {
  cursor: pointer;
}

.card2p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
}

.card2p2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
}

.goBack {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-left: 15px;
  cursor: pointer;
}

.where-are-you {
  display: flex;
  gap: 15px;
}

.card-wrapper-cards2 {
  display: grid;
  grid-template-columns: repeat(4, 315px);
  gap: 20px;
  margin-top: 20px;
}

.pages {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 30px;
}

.card-wrapper2 {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.pages1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #219653;
}

.pages2, .pages3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.pdescription2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 0px 79px 25px 20px;
  color: #828282;

}

.inner-card {
  display: flex;
}

.p-inner-card1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-right: 300px;
  color: #333333;
}

.p-inner-description1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #4F4F4F;
  margin-bottom: 65px;
}

.innerimage {
  margin-top: 57px;
}

.p-inner-price1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: #333333;
}

.inner-weightbuttons {
  gap: 20px;
  display: flex;
}

.p-quantity {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #BDBDBD;
}

.btncounter {
  background: #FFFFFF;
  border: 1px solid #00C620;
  border-radius: 5px;
  width: 26px;
  height: 26px;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pcounter {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #4F4F4F;
}

.buybutton {
  background: #3FCF5E;
  border: 1px solid rgba(110, 230, 144, 0.53);
  border-radius: 5px;
  width: 122px;
  height: 45px;
  margin-right: 15px;

}

.buyp {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.addbutton {
  background: #FFFFFF;
  border: 1px solid rgba(110, 230, 144, 0.53);
  border-radius: 5px;
  width: 232px;
  height: 45px;

}

.addp {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #3FCF5E;
}

.container-inner {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 219px;
}

.innerleft {
  width: 650px;
  background: #f8efef;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.innerright {
  width: 650px;
  background: #f8efef;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.container-inner-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: 30px;
}

.vectors-and-imgs {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.imgleft {
  margin-left: 30px;
}

.birdsnames {
  display: flex;
  gap: 66px;
  margin-bottom: 30px;
}

.birdname1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
  margin-left: 94px;
}

.birdname {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
}

.seedsnames {
  display: flex;
  gap: 81px;
  margin-bottom: 30px;
}

.seedname1 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
  margin-left: 94px;
}

.seedname {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #828282;
}

.loginButton {
  width: 244px;
  height: 49px;
  background: #3FCF5E;
  border-radius: 10px;
  border: 1px solid #3FCF5E;
  margin-left: 20px;
  margin-top: 25px;
  cursor: pointer;
}

.loginLinks {
  width: 284px;
  height: 173px;
  left: 1336px;
  top: 102px;
  background: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: absolute;
  left: 900px;
  display: flex;
  flex-direction: column;
}

.registerButton {
  width: 244px;
  height: 49px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  margin-left: 20px;
  margin-top: 25px;
}

.p-go-login {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.p-go-register {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}