body {
  background-color: rgb(255, 255, 255);
}

header {
  display: flex;
  height: 204px;
  width: 1920px;
}

.header_lefside {
  display: flex;
  flex-direction: column;
  padding: 33px 488px 46px 300px;
}

.LinkNav {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
}